main {
  @media (min-width: 992px) {
    margin-top: -260px;
  }
}
.funkcje {
  z-index: 0;
  position: relative;
  &__inner {
    background: #fff;
    max-width: 1036px;
    margin: auto;
    position: relative;
    padding-bottom: 60px;
  }
  &__title {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 1.35rem;
    text-align: center;
    font-weight: bold;
    @media (min-width: 800px) {
      font-size: 1.5rem;
    }
    @media (min-width: 992px) {
      color: white;
    }
    @media (min-width: 1010px) {
      font-size: 36px;
    }
  }
  &__wrapper {
    overflow: hidden;
    align-content: center;
    align-items: center;
    margin: auto;
    max-width: 800px;
    display: flex;
    justify-content: center;
    @media (max-width: 992px) {
      flex-wrap: wrap;
    }
  }
  &__box--pt {
    @media (min-width: 992px) {
      padding-top: 45px !important;
      margin-top: -10px;
    }
  }
  &__box {
    padding-left: 12px;
    padding-right: 12px;
    // padding: 25px 5px;
    align-self: flex-end;
    flex-basis: 100%;
    text-align: center;
    p {
      font-weight: bold;
    }
    img {
      padding-top: 25px;
    }

    @media (min-width: 900px) {
      flex-basis: 33%;
    }
    p {
      // padding-left: 10px;
      // padding-right: 10px;
      margin-top: 25px;
      padding-bottom: 20px;
    }
  }

  @media (min-width: 900px) {
    &__box--beige {
      padding-top: 35px;
      background: #f4f4f4;
    }
    &__box-flex-end {
      align-self: none;
    }
    &__description--gutter {
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
    }
    &__description--top {
      margin-bottom: 40px;
    }
  }
  &__box--pt {
    // margin-top: -20px;
    img {
    }
  }
}
@media (min-width: 992px) {
  .align {
    display: block;
    margin-bottom: 28px !important;
    // padding-bottom: 20px !important;
  }
}
