.product {
  min-height: 400px;
  background-image: url("../../assets/img/bg-produkt1.jpg");
  background-position: center;
  background-size: cover;
  margin: auto;
  text-align: center;
  @media (min-width: 992px) {
    min-height: 800px;
  }
  .btn {
    margin-top: 10px;
    font-size: 18px;
    color: rgb(252, 252, 252);
    font-family: "Raleway";
    font-weight: bold;
    text-align: center;
    padding: 10px 45px;
    border-radius: 3px;
    background-image: linear-gradient(0deg, #f2502a 0%, #ff5a34 100%);
  }
  &__apps {
    z-index: 300;

    margin-top: -115px;
  }
}
