.product {
  z-index: -1;
  margin-top: -100px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/img/bg-produkt1.jpg");
  text-align: center;
  position: relative;

  &__inner {
  }
}
