.product {
  z-index: -100;
  margin-top: -100px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/img/bg-produkt.jpg");
  text-align: center;
  position: relative;
  overflow: hidden;
  &__inner {
  }
}
