.title__global {
  color: rgb(16, 22, 27);
  font-size: 1.35rem;
  text-align: center;
  font-weight: bold;
  @media (min-width: 800px) {
    font-size: 1.5rem;
  }
  @media (min-width: 1010px) {
    font-size: 36px;
  }
}
.title__global--white {
  margin-top: 70px;
  color: #fff;
  font-size: 1.35rem;
  text-align: center;
  font-weight: bold;
  @media (min-width: 769px) {
    margin-top: 100px;
  }
  @media (min-width: 800px) {
    font-size: 1.5rem;
  }
  @media (min-width: 1010px) {
    font-size: 36px;
    margin-top: 85px;
  }
}
.title__global--left {
  @media (min-width: 576px) {
    text-align: left;
  }
  @media (min-width: 1010px) {
    text-align: left;
  }
}
.reveal-item {
  opacity: 0;
  transition: all 1.5s ease-out;
  transform: scale(1.15);
  &-is--visible {
    opacity: 1;
    transform: scale(1);
  }
}
