.trial {
  margin: 100px 0;

  background-image: url("../../assets/img/bg-trial-clear.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: 992px) {
    padding-bottom: 40px;
  }
  &__title {
    line-height: 37px;
    margin-top: 50px;
    color: white;
    span {
      display: block;
    }

    font-size: 1.35rem;
    text-align: center;
    font-weight: bold;
    @media (min-width: 771px) {
      font-size: 1.5rem;
      text-align: left;
    }
    @media (min-width: 1010px) {
      font-size: 32px;
    }
  }
  &__title--right {
    line-height: 37px;
    font-size: 1.35rem;

    color: white;
    span {
      display: block;
    }

    font-size: 1.35rem;
    text-align: center;
    font-weight: bold;
    @media (min-width: 771px) {
      font-size: 1.5rem;
    }
    @media (min-width: 992px) {
      text-align: left;
      margin-top: 40px;
    }
    @media (min-width: 1010px) {
      font-size: 32px;
    }
  }
  &__description {
    font-weight: 400;
    font-size: 18px;
    color: rgb(16, 22, 27);
    font-family: "Raleway";
    text-align: center;
    @media (min-width: 766px) {
      text-align: left;
    }
  }
  &__description--right {
    font-weight: 400;
    font-size: 18px;
    color: rgb(16, 22, 27);
    font-family: "Raleway";
    text-align: center;
    @media (min-width: 992px) {
      text-align: left;
    }
  }
  &__btn {
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;

    padding: 15px 10px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(27, 22, 61, 0.22);
    background-image: linear-gradient(0deg, #1b153d 0%, #1e1940 100%);
    margin: auto;
    display: inherit;
    @media (min-width: 766px) {
      margin: 0;
    }
  }
  &__box-one {
    padding-bottom: 50px;
    @media (min-width: 996px) {
      padding-bottom: 0;
    }
  }
  &__btn--white {
    font-size: 16px;
    border-radius: 10px;
    padding: 15px 50px;
    box-shadow: 0 0 3px rgba(27, 22, 61, 0.22);
    background-image: linear-gradient(0deg, #ebebeb 0%, #ffffff 100%);
    color: rgb(27, 22, 61);
    font-weight: bold;

    @media (min-width: 992px) {
      margin-top: 120px;
    }
    @media (min-width: 1200px) {
      margin-top: 75px;
    }
  }
  &__right-box-wrapper {
    padding-top: 50px;
    text-align: center;
    @media (min-width: 992px) {
      text-align: left;
      padding-left: 150px;
    }
  }
  &__phone-box {
    text-align: center;
  }
  &__box-rightbg {
    @media (min-width: 992px) {
      text-align: left;
      background-image: url("../../assets/img/couple.jpg");
      background-repeat: no-repeat;
      background-position: 105%;
    }
  }
}
