.screenshot {
  z-index: 10000;
  padding-top: 20px;
  @media (min-width: 900px) {
    padding-top: 60px;
  }
  &__top {
    background-image: url("../../assets/img/bg-zrzuty.jpg");
    background-position: center;
    background-size: cover;

    position: relative;
    position: relative;
    @media (min-width: 992px) {
      min-height: 400px;
    }
  }
  &__bottom {
    background-image: url("../../assets/img/bg-zrzuty.jpg");
    background-position: center;
    background-size: cover;
    padding: 45px 0;
  }
  &__title {
    font-size: 1.2rem;
    font-weight: bold;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translate(-50%);
    margin: auto;
    text-align: center;
  }
  &__subtitle {
    span {
      display: block;
    }
    font-size: 1.3rem;
    @media (min-width: 800px) {
      font-size: 1.5rem;
    }
    @media (min-width: 1010px) {
      font-size: 36px;
    }
  }
  &__description {
    font-size: 14px;
    max-width: 420px;
    margin: auto;
    @media (min-width: 992px) {
      margin-left: 0;
      text-align: left;
    }
  }
  &__phone {
    z-index: 10000;
  }
  &__right-box {
    position: relative;
    img {
      position: absolute;
      top: 20px;
    }
  }
  &__left-box {
    text-align: center;
    @media (min-width: 992px) {
      text-align: left;
    }
  }
  // middle
  &__middle {
    padding: 45px 0;
  }
  &__view-title {
    font-weight: bold;
  }
  &__text {
    font-size: 14px;
  }
  &__view-content {
    text-align: center;
    @media (min-width: 1010px) {
      text-align: left;
    }
  }
  &__view-box {
    padding: 15px 0;
  }
}
