body {
  font-family: "Raleway";
}

.top {
  border-top: 3px solid #00b5f9;
}

.top__inner {
  text-align: center;
}

@media (min-width: 530px) {
  .top__inner {
    text-align: right;
  }
}

@media (min-width: 1010px) {
  .top__inner {
    margin-right: 270px;
  }
}

.top__inner button {
  height: 34px;
  font-size: 12px;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  background-color: #00b5f9;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 530px) {
  .top__inner button {
    margin: -10px 25px 10px 0;
    display: inline-block;
  }
}

.top__right-container {
  display: inline-block;
}

.top__login-title {
  margin: 15px 0 0 0;
  padding: 0;
  font-size: 12px;
  color: black;
  text-align: center;
}

.top__login-desc {
  margin: 0;
  font-size: 11px;
  color: #6d6d6d;
  text-align: center;
}

@media (min-width: 530px) {
  .top__login-desc {
    text-align: right;
  }
}

.navbar {
  margin: 0;
  background: #473f9b;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar a {
  font-size: 14px;
  line-height: 30px;
  color: #150f49;
  font-family: "Raleway";
  font-weight: bold;
  margin: 0 8px;
}

.navbar ul {
  text-align: center;
}

@media (min-width: 990px) {
  .navbar ul {
    margin-right: 120px;
  }
}

.header {
  min-height: 700px;
  background-image: url("../../assets/img/app_main_06.jpg");
  background-position: center;
  background-size: cover;
}

.header__inner {
  position: relative;
}

@media (min-width: 1010px) {
  .header__logo {
    margin-left: -50px;
  }
}

.header__title {
  margin-top: 140px;
  text-align: center;
  padding-bottom: 45px;
}

.header__title h1 {
  font-size: 1.6rem;
  color: white;
  font-weight: 200;
}

@media (min-width: 530px) {
  .header__title h1 {
    font-size: 2.7rem;
  }
}

@media (min-width: 800px) {
  .header__title h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .header__title h1 {
    font-size: 100px;
  }
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 1010px) {
  .header__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__box span {
  display: inline-block;
  margin-right: 5px;
}

.header__box p {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: #ffa200;
  font-weight: bold;
}

@media (min-width: 1250px) {
  .header__box p {
    line-height: 55px;
  }
}

.header__wrapper {
  text-align: center;
  margin: 0;
}

.product {
  z-index: -100;
  margin-top: -100px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/img/bg-produkt.jpg");
  text-align: center;
  position: relative;
  overflow: hidden;
}

.funkcje {
  background: #fff;
  max-width: 1036px;
  margin: -100px auto 0;
  position: relative;
  padding-bottom: 130px;
}

.funkcje__title {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  color: white;
}

.funkcje__inner {
  max-width: 800px;
  margin: auto;
}

.funkcje__wrapper {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 992px) {
  .funkcje__box--pt {
    padding-top: 45px !important;
    margin-top: -10px;
  }
}

.funkcje__box {
  padding-left: 12px;
  padding-right: 12px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.funkcje__box p {
  font-weight: bold;
}

.funkcje__box img {
  padding-top: 25px;
}

@media (min-width: 900px) {
  .funkcje__box {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

.funkcje__box p {
  margin-top: 25px;
  padding-bottom: 20px;
}

@media (min-width: 900px) {
  .funkcje__box--beige {
    padding-top: 35px;
    background: #f4f4f4;
  }
  .funkcje__box-flex-end {
    -ms-flex-item-align: none;
        align-self: none;
  }
  .funkcje__description--gutter {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .funkcje__description--top {
    margin-bottom: 40px;
  }
}

.screenshot__top {
  background-image: url("../../assets/img/bg-zrzuty.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  position: relative;
}

@media (min-width: 992px) {
  .screenshot__top {
    min-height: 400px;
  }
}

.screenshot__bottom {
  background-image: url("../../assets/img/bg-zrzuty.jpg");
  background-position: center;
  background-size: cover;
  padding: 45px 0;
}

.screenshot__title {
  font-size: 1.2rem;
  font-weight: bold;
  position: absolute;
  top: -50px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  margin: auto;
  text-align: center;
}

.screenshot__subtitle {
  font-size: 1.3rem;
}

.screenshot__subtitle span {
  display: block;
}

@media (min-width: 800px) {
  .screenshot__subtitle {
    font-size: 1.5rem;
  }
}

@media (min-width: 1010px) {
  .screenshot__subtitle {
    font-size: 36px;
  }
}

.screenshot__description {
  font-size: 14px;
  max-width: 420px;
  margin: auto;
}

@media (min-width: 992px) {
  .screenshot__description {
    margin-left: 0;
    text-align: left;
  }
}

.screenshot__phone {
  z-index: 10000;
}

.screenshot__right-box {
  position: relative;
}

.screenshot__right-box img {
  position: absolute;
  top: 20px;
}

.screenshot__left-box {
  text-align: center;
}

@media (min-width: 992px) {
  .screenshot__left-box {
    text-align: left;
  }
}

.screenshot__middle {
  padding: 45px 0;
}

.screenshot__view-title {
  font-weight: bold;
}

.screenshot__text {
  font-size: 14px;
}

.screenshot__view-content {
  text-align: center;
}

@media (min-width: 1010px) {
  .screenshot__view-content {
    text-align: left;
  }
}

.screenshot__view-box {
  padding: 15px 0;
}

.title__global {
  color: #10161b;
  font-size: 1.35rem;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 800px) {
  .title__global {
    font-size: 1.5rem;
  }
}

@media (min-width: 1010px) {
  .title__global {
    font-size: 36px;
  }
}

@media (min-width: 576px) {
  .title__global--left {
    text-align: left;
  }
}

@media (min-width: 1010px) {
  .title__global--left {
    text-align: left;
  }
}

.contact {
  padding: 40px 0;
}

.contact textarea {
  height: 90%;
  width: 100%;
  border-color: #25cca7;
  border-radius: 10px;
}

.contact input {
  border-color: #25cca7;
}

.contact form {
  margin: 60px 0 0 0;
}

.contact input[type="submit"] {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 18px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  display: block;
  width: 150px;
  margin: 30px auto;
  background: #25cca7;
  color: white;
  padding: 10px 0;
}

@media (min-width: 992px) {
  .contact input[type="submit"] {
    margin-right: 0;
  }
}

.contact__text {
  font-weight: bold;
  text-align: center;
}

.contact__text span {
  display: block;
}

@media (min-width: 992px) {
  .contact__text {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .contact__text--center {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .contact__text--bottom {
    margin-top: 100px;
  }
}

.contact__bottom-pb {
  padding-top: 100px;
}

@media (min-width: 992px) {
  .contact__bottom-pb {
    padding-top: 0;
    padding-left: 70px;
  }
}

.trial {
  margin: 100px 0;
  background-image: url("../../assets/img/bg-trial-clear.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 992px) {
  .trial {
    padding-bottom: 40px;
  }
}

.trial__title {
  line-height: 37px;
  margin-top: 50px;
  color: white;
  font-size: 1.35rem;
  text-align: center;
  font-weight: bold;
}

.trial__title span {
  display: block;
}

@media (min-width: 771px) {
  .trial__title {
    font-size: 1.5rem;
    text-align: left;
  }
}

@media (min-width: 1010px) {
  .trial__title {
    font-size: 32px;
  }
}

.trial__title--right {
  line-height: 37px;
  font-size: 1.35rem;
  color: white;
  font-size: 1.35rem;
  text-align: center;
  font-weight: bold;
}

.trial__title--right span {
  display: block;
}

@media (min-width: 771px) {
  .trial__title--right {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .trial__title--right {
    text-align: left;
    margin-top: 40px;
  }
}

@media (min-width: 1010px) {
  .trial__title--right {
    font-size: 32px;
  }
}

.trial__description {
  font-size: 18px;
  color: #10161b;
  font-family: "Raleway";
  text-align: center;
}

@media (min-width: 766px) {
  .trial__description {
    text-align: left;
  }
}

.trial__btn {
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 15px 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px rgba(27, 22, 61, 0.22);
          box-shadow: 0 0 3px rgba(27, 22, 61, 0.22);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#1b153d), to(#1e1940));
  background-image: linear-gradient(0deg, #1b153d 0%, #1e1940 100%);
  margin: auto;
  display: inherit;
}

@media (min-width: 766px) {
  .trial__btn {
    margin: 0;
  }
}

.trial__box-one {
  padding-bottom: 50px;
}

@media (min-width: 996px) {
  .trial__box-one {
    padding-bottom: 0;
  }
}

.trial__btn--white {
  font-size: 16px;
  border-radius: 10px;
  padding: 15px 10px;
  -webkit-box-shadow: 0 0 3px rgba(27, 22, 61, 0.22);
          box-shadow: 0 0 3px rgba(27, 22, 61, 0.22);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ebebeb), to(#ffffff));
  background-image: linear-gradient(0deg, #ebebeb 0%, #ffffff 100%);
  color: #1b163d;
  font-weight: bold;
}

@media (min-width: 992px) {
  .trial__btn--white {
    margin-top: 145px;
  }
}

@media (min-width: 1200px) {
  .trial__btn--white {
    margin-top: 75px;
  }
}

.trial__right-box-wrapper {
  padding-top: 50px;
  text-align: center;
}

@media (min-width: 992px) {
  .trial__right-box-wrapper {
    text-align: left;
    padding-left: 150px;
  }
}

.trial__phone-box {
  text-align: center;
}

@media (min-width: 992px) {
  .trial__box-rightbg {
    text-align: left;
    background-image: url("../../assets/img/couple.jpg");
    background-repeat: no-repeat;
    background-position: 105%;
  }
}

.footer {
  margin-top: -70px;
  padding-bottom: 100px;
}
