body {
  font-family: "Raleway";
}

.top {
  border-top: 3px solid #00b5f9;
}

.top__inner {
  text-align: center;
}

@media (min-width: 530px) {
  .top__inner {
    text-align: right;
  }
}

@media (min-width: 1010px) {
  .top__inner {
    margin-right: 270px;
  }
}

.top__inner button {
  height: 34px;
  font-size: 12px;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  background-color: #00b5f9;
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 530px) {
  .top__inner button {
    margin: -10px 25px 10px 0;
    display: inline-block;
  }
}

.top__right-container {
  display: inline-block;
}

.top__login-title {
  margin: 15px 0 0 0;
  padding: 0;
  font-size: 12px;
  color: black;
  text-align: center;
}

.top__login-desc {
  margin: 0;
  font-size: 11px;
  color: #6d6d6d;
  text-align: center;
}

@media (min-width: 530px) {
  .top__login-desc {
    text-align: right;
  }
}

.navbar {
  margin: 0;
  background: #473f9b;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar a {
  font-size: 14px;
  line-height: 30px;
  color: #150f49;
  font-family: "Raleway";
  font-weight: bold;
  margin: 0 8px;
}

.navbar ul {
  text-align: center;
}

@media (min-width: 990px) {
  .navbar ul {
    margin-right: 120px;
  }
}

.header {
  min-height: 700px;
  background-image: url("../../assets/img/app_main_06.jpg");
  background-position: center;
  background-size: cover;
}

.header__inner {
  position: relative;
}

@media (min-width: 1010px) {
  .header__logo {
    margin-left: -50px;
  }
}

.header__title {
  margin-top: 140px;
  text-align: center;
  padding-bottom: 45px;
}

.header__title h1 {
  font-size: 1.6rem;
  color: white;
  font-weight: 200;
}

@media (min-width: 530px) {
  .header__title h1 {
    font-size: 2.7rem;
  }
}

@media (min-width: 800px) {
  .header__title h1 {
    font-size: 4rem;
  }
}

@media (min-width: 1200px) {
  .header__title h1 {
    font-size: 100px;
  }
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media (min-width: 1010px) {
  .header__box {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.header__box span {
  display: inline-block;
  margin-right: 5px;
}

.header__box p {
  display: inline-block;
  text-align: center;
  font-size: 16px;
  color: #ffa200;
  font-weight: bold;
}

@media (min-width: 1250px) {
  .header__box p {
    line-height: 55px;
  }
}

.header__wrapper {
  text-align: center;
  margin: 0;
}

.produkt {
  z-index: -10;
  margin-top: -100px;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../../assets/img/bg-produkt.jpg");
  text-align: center;
  position: relative;
}

.produkt__inner {
  text-align: center;
  margin: auto;
  height: 36px;
  font-size: 1.3rem;
  line-height: 35px;
  color: white;
  font-weight: bold;
  text-align: center;
  margin-top: 60px;
  position: absolute;
  top: -80%;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

@media (min-width: 530px) {
  .produkt__inner {
    font-size: 2rem;
  }
}

@media (min-width: 800px) {
  .produkt__inner {
    font-size: 2.2rem;
  }
}

@media (min-width: 1010px) {
  .produkt__inner {
    font-size: 36px;
  }
}

.funkcje {
  background: #fff;
  max-width: 1000px;
  margin: -100px auto 0;
  position: relative;
}

.funkcje__title {
  position: absolute;
  top: -30px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  color: white;
}

.funkcje__inner {
  max-width: 800px;
  margin: auto;
}

.funkcje__wrapper {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.funkcje__box {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  text-align: center;
}

.funkcje__box p {
  font-weight: bold;
}

.funkcje__box img {
  padding-top: 25px;
}

@media (min-width: 900px) {
  .funkcje__box {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
}

.funkcje__box p {
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 25px;
  padding-bottom: 20px;
}

@media (min-width: 900px) {
  .funkcje__box--beige {
    padding-top: 35px;
    background: #f4f4f4;
  }
  .funkcje__box-flex-end {
    -ms-flex-item-align: none;
        align-self: none;
  }
  .funkcje__description--gutter {
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
  .funkcje__description--top {
    margin-bottom: 40px;
  }
}
